[mysqld]
query_cache_type = 1
query_cache_size = 128M
query_cache_limit = 24M
innodb_buffer_pool_size = 2048M
max_connections = 20
table_open_cache = 65536
thread_cache_size = 32
max_heap_table_size = 256M
tmp_table_size = 256M
key_buffer_size = 196M
join_buffer_size = 18M
sort_buffer_size = 18M
bulk_insert_buffer_size = 2M
myisam_sort_buffer_size = 18M
max_allowed_packet = 96M

[client]
default-character-set = utf8

[mysqld_safe]
nice = 0

[mysqld]
skip-external-locking
default-storage-engine = innodb
transaction-isolation = READ-COMMITTED
myisam-recover-options = BACKUP
explicit_defaults_for_timestamp = 1
expire_logs_days = 10
max_binlog_size = 100M
sql_mode = ""

# Cache parameters
thread_stack = 128K

# InnoDB parameters
innodb_file_per_table
innodb_flush_log_at_trx_commit = 2
innodb_log_file_size = 64M
innodb_flush_method = O_DIRECT
innodb_strict_mode = OFF

# Database charset parameters
character-set-server = utf8
collation-server = utf8_unicode_ci
init-connect = "SET NAMES utf8 COLLATE utf8_unicode_ci"
#skip-character-set-client-handshake
skip-name-resolve

[mysqldump]
quick
quote-names
max_allowed_packet = 16M
default-character-set = utf8

[isamchk]
key_buffer = 16M
